

* {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;

}



@media screen {
    

.home-container{
    width: 100%;
    min-height: 100vh;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/017/663/252/original/anastasia-kozheko-normal.gif?1645074105);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    
    
}

.main-container { 
    display: flex;
    width: 90%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
.cards {
    width: 400px;
    height: 300px;
    padding: 2em;
    border-radius: 10px;
    background-color: rgba(0, 0, 0 ,0.272);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20pX) saturate(180PX);
    border: 0.4px solid rgba(225, 225, 225, 0.272);
    align-items: center;
    
}

h1{
font-size: 2rem;
font-weight: 900;
color: white;
}

h2 {
    color:wheat;
   
}


.cards input{
margin-bottom: 10px;
color: antiquewhite;
background-color: transparent;
border-color: transparent ;
border-bottom-color: black ;
height: 30px;
width:199px;

}
.cards input::placeholder{
color: rgb(183, 172, 172);
font-size: large;
}
}



